<h2>User info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<h5>name</h5>
<%= user.name %>
<h5>introduction</h5>
<%= user.introduction %>
<%= link_to "create", edit_user_path(current_user.id), class: "button-class" %>

