<h1>welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>
<p>In <i class="fa-solid fa-book"></i>Bookers,</p>

<p>you can share and exchange your opinions , inpressions , and emotions</p>

<p>about various books!</p>

<div class="button" style="margin:10px 50px;">
　　　　<%= link_to "Log in",new_user_session_path,class:"btn btn-primary btn-block"%>
</div>

<div class="button" style="margin:0 50px;">
<%= link_to "sign up", new_user_registration_path,class:"btn btn-secondary btn-block"%>
</div